// gradient
@mixin gradient {
  background: linear-gradient(235deg, #23d5ab, #2398d5, #9b44ec);
	background-size: 400% 400%;
	animation: BackgroundGradient 300s ease infinite;
@keyframes BackgroundGradient {
	0% {
		background-position: 0% 50%
		}
	50% {
		background-position: 100% 50%
		}
	100% {
		background-position: 0% 50%
		}
	}
}


@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'),
    url('/fonts/lora-v13-latin-700.woff2') format('woff2'),
    url('/fonts/lora-v13-latin-700.woff') format('woff');
}


.intro {
  @include gradient;
  &__summary {
    p {
      color: #fff;
    }
    a {
      color: currentColor;
    }
  }

  &__heading {
    color: #fff;

  }
  &__footer {
    background: none;

    li {
      color: #fff;
    }

    a {
      background: var(--color-bg);
      color: var(--color-text);
      padding: 0.4rem 0.6rem;
    }
  }
}
