// gradient
@mixin gradient {
  background: linear-gradient(235deg, #2398d5, #9b44ec);
	background-size: 200% 200%;
	animation: BackgroundGradient 100s ease infinite;
@keyframes BackgroundGradient {
	0% {
		background-position: 0% 50%
		}
	50% {
		background-position: 100% 50%
		}
	100% {
		background-position: 0% 50%
		}
	}
}



.intro {
  @include gradient;
  &__summary {
    p {
      color: #fff;
    }
    a {
      color: currentColor;
    }
  }

  &__heading {
    color: var(--color-light);

  }
  &__footer {
    background: none;

    li {
      color: var(--color-light);
    }

    a {
      background: var(--color-bg);
      color: var(--color-text);
      padding: 0.4rem 0.6rem;
    }
  }
}

ul.elsewhere {
  list-style: disc;
  margin-top: 0;
  li {
    margin-bottom: .25em;
  }
}
